.container {
    display: flex;
}

table {
    border-collapse: collapse;
    margin-right: 20px; /* Adjust margin as needed */
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
